<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="abitaWEB" version="2.5">
  <display-name>abita</display-name>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
    <param-value>2</param-value>
  </context-param>
  <context-param>
    <description>
		javax.faces.DEFAULT_SUFFIX -- Allow the web application to define an alternate suffix for JSP pages
		containing JSF content. See the javadocs for the symbolic constant
		ViewHandler.DEFAULT_SUFFIX_PARAM_NAME for the complete specification.
		</description>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.xhtml</param-value>
  </context-param>
  <context-param>
    <description>
		javax.faces.CONFIG_FILES -- Comma-delimited list of context-relative resource paths under which the JSF
		implementation will look for application configuration resources (see Section 11.4.4 “Application Configuration
		Resource Format”), before loading a configuration resource named &quot;/WEB-INF/faces-config.xml&quot; (if such a
		resource exists). If “/WEB-INF/faces-config.xml” is present in the list, it must be ignored.
		</description>
    <param-name>javax.faces.CONFIG_FILES</param-name>
    <param-value>/WEB-INF/site-faces-config.xml,/WEB-INF/access-faces-config.xml,/WEB-INF/specificApplication-faces-config.xml</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
    <param-value>true</param-value>
  </context-param>
  <filter>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>monitoring</filter-name>
    <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
    <init-param>
      <param-name>disabled</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>monitoring</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>net.bull.javamelody.SessionListener</listener-class>
  </listener>

  <filter>
    <display-name>Security Filter</display-name>
    <filter-name>securityFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>securityFilter</filter-name>
    <url-pattern>*.xhtml</url-pattern>
    <url-pattern>*.jsf</url-pattern>
    <!-- Règle le problème de 2 fois refresh -->
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <!-- Déclaration des taglibs -->
  <context-param>
    <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
    <param-value>/WEB-INF/abita.taglibs.xml</param-value>
  </context-param>

  <!-- On force la lib EL 2.2 pour cause de soucis de compatibilités tomcat8 sur la coercision des types -->
  <context-param>
    <param-name>com.sun.faces.expressionFactory</param-name>
    <param-value>com.sun.el.ExpressionFactoryImpl</param-value>
  </context-param>

  <!-- Déclaration des thèmes primefaces -->
  <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>#{siteViewController.userTheme}</param-value>
  </context-param>

  <!-- Déclaration de l'activation de la validation côté client -->
  <context-param>
    <param-name>primefaces.CLIENT_SIDE_VALIDATION</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>primefaces.TRANSFORM_METADATA</param-name>
    <param-value>true</param-value>
  </context-param>


  <session-config>
    <!-- Session time out setted to 8 hours, the session invalidation will be manage on the client side by the PrimeFaces IdleMonitor component -->
    <session-timeout>30</session-timeout>
  </session-config>


  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>



  <!-- <listener> <description> Spring listener for log4j initialisation.WARNING it must be declare before ContextLoaderListener </description> <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class> </listener> -->
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>


  <listener>
    <description>
  	Spring / JSF configuration
  	</description>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <description>
  	Spring /JSF configuration
  </description>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>


  <error-page>
    <exception-type>javax.faces.application.ViewExpiredException</exception-type>
    <location>/pages/welcome/welcome.jsf</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/pages/welcome/welcome.jsf</location>
  </error-page>
  <error-page>
    <error-code>408</error-code>
    <location>/pages/welcome/welcome.jsf</location>
  </error-page>


  <!-- Reads request input using UTF-8 encoding -->
  <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
